<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>oscServlet</servlet-name>
    <servlet-class>org.hive13.server.OscServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>oscServlet</servlet-name>
    <url-pattern>/glass_block_web_interface/osc</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Glass_Block_Web_Interface.html</welcome-file>
  </welcome-file-list>
  <!-- Environment variables -->
  
  <!-- These two properties are the IP address and the port of the board
       running the display and listening over OSC -->
  <env-entry>
  	<env-entry-name>displayHost</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>192.168.1.148</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>displayPort</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>12000</env-entry-value>
  </env-entry>
  <!-- Next two are the width and height in pixels -->
  <env-entry>
  	<env-entry-name>displayWidth</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>7</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>displayHeight</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>8</env-entry-value>
  </env-entry>
  <!-- The name of the display (mostly for display purposes) -->
  <env-entry>
  	<env-entry-name>displayName</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>Procyon</env-entry-value>
  </env-entry>
  <!-- What port we listen on. This is basically arbitrary, since we don't listen... -->
  <env-entry>
  	<env-entry-name>listenPort</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>12001</env-entry-value>
  </env-entry>

</web-app>
